/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

    /* Colors */
    --primary-color: 256 34% 17%;
    --primary-color-shade: 256 33% 15%;
    --primary-color-tint: 257 21% 45%;
    --secondary-color: 342 92% 44%;
    --secondary-color-shade: 337 85% 35%;
    --accent-color: 173 52% 44%;
    --text-color: 245 9% 75%;
    --white-color: 0 0% 100%;

    /* Font Familiy */
    --heading-font: 'DM Sans', sans-serif;
    --text-font: 'Raleway', sans-serif;

    /* Font Weights */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Border */
    --br: .1875rem;
    --br-full: 50%;

}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: hsl(var(--text-color));
    font-family: var(--text-font);
    font-weight: var(--fw-light);
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    margin: 0;
}

p {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

main,
section {
    position: relative;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: .625em;
}
::-webkit-scrollbar-track {
    background-color: hsl(var(--primary-color-shade) / .9);
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
}


/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

/* Main Wrapper */
.main-wrapper {
    background-image: url('../img/main-bg-03.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    padding: 2.5rem;
    position: relative;
}

/* Chat Wrapper */
.chat-wrapper {
    background-color: hsl(var(--primary-color) / .1);
    backdrop-filter: blur(1.25rem);
    display: flex;
    height: 100%;
    width: 100%;
}

/* Chat Contacts  */
.chat-contacts {
    background-color: hsl(var(--primary-color) / .5 );
    width: 21.875rem;
}

/* Profile */
.profile {
    background-color: hsl(var(--primary-color-shade) / .9);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.25rem;
}

.profile__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.profile__image {
    border-radius: var(--br-full);
    height: 3.125rem;
    width: 3.125rem;
    overflow: hidden;
}
.profile__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile__name p {
    font-family: var(--heading-font);
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}
.profile__name span {
    font-size: .875rem;
}

/* Navigation */
.navigation {
    height: auto;
    padding: 1.875rem 1.25rem;
}
.nav-list {
    counter-reset: nav;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-list a {
    color: hsl(var(--white-color));
    font-weight: var(--fw-semibold);
    position: relative;
    text-decoration: none;
    transition: color .3s ease-in-out;
}
.nav-list a::before {
    counter-increment: nav;
    content: '0' counter(nav) '.';
    margin-right: .3125rem;
}
.nav-list a:hover,
.nav-list a:focus {
    color: hsl(var(--secondary-color));
}

/* Chat Messages  */
.content {
    background-color: hsl(var(--primary-color-shade) / .7);
    flex: 1;
    padding: 3.125rem;
    position: relative;
}

.content.diagram {
    display: grid;
    place-items: center;
}

.content__title {
    color: hsl(var(--white-color));
    font-size: 1.5rem;
    margin-block-end: .625rem
}

.content__input {
    display: flex;
    gap: 1.25rem;
    margin-block-start: 1.875rem;
}

.input-item input {
    background-color: transparent;
    border: 1px solid hsl(var(--primary-color-tint));
    border-radius: .1875rem;
    color: hsl(var(--white-color));
    padding: .625rem .9375rem;
}
.input-item input:focus {
    outline: none;
}
.input-item button {
    background-color: hsl(var(--secondary-color));
    border: 0;
    border-radius: .1875rem;
    color: hsl(var(--white-color));
    cursor: pointer;
    padding: .625rem .9375rem;
    transition: background .3s ease-in-out;
}
.input-item button:hover,
.input-item button:focus {
    background-color: hsl(var(--secondary-color-shade));
}

.content__output {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    margin-top: 3.125rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(3.125rem);
    transition: transform .5s ease-in-out;
}
.content__output.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.output-item {
    background-color: hsl(var(--primary-color-shade));
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding: .9375rem;
}
.output-item__text {
    color: hsl(var(--white-color));
    flex: 1;
}
.output-item__res {
    background-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
    flex: 1;
    padding: 1.25rem .3125rem;
}
.output-item__res ul {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.output-item__res ul li {
    color: hsl(var(--white-color));
    font-size: 1.25rem;
}

.message {
    background-color: hsl(var(--secondary-color));
    border-radius: var(--br);
    color: hsl(var(--white-color));
    gap: .625rem;
    opacity: 0;
    padding: .9375rem;
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
    width: 90%;
    visibility: hidden;
    transition: transform .3s ease-in-out;
    transform: translateY(0.625rem);
}
.message.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}